footer{}
//====================================================================================================
.footer {

	height: 144px;
	background-color: #08664F;

	@media (max-width:$md3+px){
		height: 65px; 
	}

	// .footer__row

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	// .footer__logo

	&__logo {
		@media (max-width:$md3+px){
			 img {
				 width: 62px;
				 height: 19px;
			 } 
		}
	}

	// .footer__menu

	&__menu {}

	// .footer__social

	&__social {
		display: inline-block;
		a {
			margin: 0px 15px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			img {
				width: 25px;
				height: 25px;
			}
		}
		
	}
}



//====================================================================================================

