//<FORM (a.f+tab)>====================================================================================================
.form{}
.form-row{@include flexbox();margin: 0px -15px;}
.form__column{padding: 0px 15px;}
.form-input{}
.form-button{}
//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn{
	display: inline-block;
	width: 196px;
	height: 43px;
	background: #0DBC91;
	color: #FFFFFF;
	border-radius: 50px;
	padding: 0px 23px;
	text-align: center;
	line-height: 43px;
	@include anim(0.5s,0s);
	&:hover {
		background-color: #077e60;
	}
	&.fw{width: 100%;}
}
//</BUTTONS>====================================================================================================



//<INPUT (inp+tab)>====================================================================================================
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input{
	border-radius: 5px !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	border: 3px solid #1FA181;
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	color: #868686;
	margin: 0px 0px 1em 0px;
	padding: 7px 10px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
	&.focus{
		color: #364844;
	}
	&.err{}
	@media (max-width:$md3+px){
		font-size: 14px; 
	}
}
textarea.input{
	resize:none;
	padding: 0px 0px;
}
//</INPUT>====================================================================================================


