//====================================================================================================
.header {
	position: fixed;
	height: 110px;
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #364844;
	width: 100%;
	@media (max-width:$md3+px){
		height: 65px; 
		background: #F7F7F7;
	}

	// .header__row

	&__row {
		display: flex;
		flex-direction: column;
		@media (max-width:$md3+px){
			display: none; 
		}
	}

	// .header__top

	&__top {
		display: flex;
		justify-content: space-between;
		flex: 1 1 67px;
		max-width: $mw + px;
		margin: 0 auto;
		width: 100%;
		@media (max-width: $md1+px) {
			max-width: 970px;
		}
		@media (max-width: $md2+px) {
			max-width: 750px;
		}
		@media (max-width: $md3+px) {
			max-width: none;
			padding: 0 10px;
		}
	}

	// .header__bodyleft

	&__bodyleft {
		display: flex;
		align-items: center;
	}

	// .header__logo

	&__logo {
		margin: 0px 35px 0px 0px;
	}

	// .header__adress

	&__adress {
		position: relative;
		text-align: center;
		padding: 0px 0px 0px 25px;
		span {
			color: #868686;
		}
		&::before {
			content: '';
			background: url('../../img/icons/geo.svg') center no-repeat;
			position: absolute;
			width: 16px;
			height: 33px;
			top: -8px;
			left: 0;
		}
	}

	// .header__bodyright

	&__bodyright {
		display: flex;
		align-items: center;
	}

	// .header__phone

	&__phone {
		position: relative;
		font-size: 16px;
		line-height: 24px;
		margin: 0px 35px 0px 0px;
		padding: 0px 0px 0px 35px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: url('../../img/icons/whatsapp.svg') center no-repeat ;
			height: 28px;
			width: 28px;
			// border-radius: 50%;
		}
	}

	// .header__button

	&__button {
		width: 196px;
		height: 43px;
		background: #0DBC91;
		color: #FFFFFF;
		border-radius: 50px;
		padding: 0px 23px;
		line-height: 43px;
		@media (max-width:$md3+px){
			 margin: 39px 0px 0px 19px; 
			 background: #F6F6F6;
			 color: #1FA181;
		}
	}

	// .header__bottom

	&__bottom {
		flex: 1 1 43px;
		background: #1FA181;
		display: flex;
		align-items: center;
	}

	// .header__menu

	&__menu {

	}
}

.menu {

	// .menu__icon

	&__icon {}

	// .menu__body

	&__body {
		@media (max-width:$md3+px){
			background: rgba(69, 146, 127, 0.9); 
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			margin: 67px 0px 0px 0px;
			@include tr(-200%, 0, 0);
			@include anim(0.8s,0s);
			&.active {
				@include tr(0, 0, 0);
			}
		}
		
	}

	// .menu__list

	&__list {
		display: flex;
		@media (max-width:$md3+px){
			 flex-direction: column; 
			 padding: 48px 0px 0px 19px;
		}
		li {
			margin: 0px 30px 0px 0px;
			&:last-child {
				margin: 0px;
			}
			@media (max-width:$md3+px){
				 margin: 0px 0px 10px 0px; 
			}
		}
	}

	// .menu__link

	&__link {
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;

	}
}

.header {

	



	// .header__mobile

	&__mobile {
		display: none;
		height: 65px; 
		background: #F7F7F7;
		padding: 0px 18px;
		@media (max-width:$md3+px){
			 display: block; 
		}
	}

	// .header__bodymobile 

	&__bodymobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	// .header__logo

	&__logo {
		img {
			width: 62px;
			height: 18.32px;
		}
		@media (max-width:$md3+px){
			padding: 0px 0px 0px 97px; 
		}
	}

	// .header__phonelocation

	&__phonelocation {
		font-family: 'PT Sans Caption';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		text-align: right;
		color: #364844;
		span {
			font-weight: 400;
			font-size: 13px;
		}
	}

	// .header__menu

	&__menu {}
}




//====================================================================================================

	// Стиль иконки бургера
	.icon-menu{
		display: none;
		position: absolute;
		top: 18.5px;
		left: 18px;
		width:37px;
		height: 26px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 11px;left: 0px;position: absolute;width: 100%;height: 4px;background-color: #1FA181;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 11px;}
				&:last-child{@include rotate(45deg);bottom: 11px;}
			}
		}
		@media (max-width:$md3+px){
			 display: block; 
		}
	}

